.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {}

.App-link {
  color: #61dafb;
}

.App-header {
  min-height: 9vh;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 2px solid #a6a6a6;
  background: #fff;
}

.headerContainer {
  display: flex;
  height: 67px;
  width: 120vh;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  display: flex;
  flex-shrink: 0;
  height: 7vmin;
  position: relative;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #a6a6a6;
  padding-left: 1em;
}

.headerList {
  display: flex;
  justify-content: flex-end; 
  height: 7vmin;
  align-items: center;
  flex: 1 0 0;
  /* align-self: stretch; */
  border-right: 2px solid #a6a6a6;
  padding-right: 1em;
}

.pdrTestContainer {
  display: flex;
  width: 10vh;
  height: 100%;
  /* padding: 5%; */
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}

.headerList li{
  display: flex;
  width: 10vh;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.headerList li a {
  width: 8vh;
  color: #333;
  text-align: center;
  font-family: "Gill Sans";
  font-size: calc(12px + 0.9vmin);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}
