.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    place-items: center;
    background-color: #fff;
}

.App.active>*:not(.loginContainer) {
    backdrop-filter: brightness(0.6) !important;
    filter: brightness(0.6) !important;
}



.testpageContainer {
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background: #fff;
    height: 100%;
    border-top: 2px solid #a6a6a6;
    width: 100%;
}

.questionsContainer {
    margin-top: 40px;
    height: 70vh;
    width: 120vh;
    /* border: 1px solid #a6a6a6; */
}

.testNameRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    /* border: 1px solid #a6a6a6; */
}

.testNameRow h5 {
    font-weight: 400;
}

.questionsTimeRow {
    width: 100%;
    height: 6vh;
    margin-top: 20px;
    /* border: 1px solid #a6a6a6; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionsTimeRow span {
    font-size: medium;
    text-align: center;
}

.questionTime {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 15px;
    height: 100%;
    width: 20vw;
}

.testTime {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 15px;
    height: 100%;
    width: 20vw;
}

.questionButtons a:hover {
    cursor: pointer;
}

.questionButton {
    color: #555555;
    margin-right: 5px;
    margin-left: 5px;
    user-select: none;
}

.questionPagination {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    /* border: 1px solid #a6a6a6; */
}

.questionTextDiv {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: top;
}

.questionTextDiv span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.answersBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answers {
    /* border: 1px solid #a6a6a6; */
    margin-top: 20px;
    width: 50%;
}

/* .answers li {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    border: 1px solid #a6a6a6;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
} */

.defaultli {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    border: 1px solid #a6a6a6;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.answers label{
    font-size: calc(2vmin);
    cursor: pointer;
}

.image {
    display: flex;
    justify-content: right;
    margin-right: 15px;
    margin-top: 20px;
    width: 50%;
    height: 50%;
    
}

.image img {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
    transition: width 1s ease;
}
.image img:hover {
    width: 150%;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.correct-answer {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    border: 2px solid #2e8b58;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.wrong-answer {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    border: 1px solid #a6a6a6;
    background-color: #e4615d;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.disabledLi {
    display: flex;
    list-style: none;
    justify-content: left;
    text-align: left;
    border: 1px solid #a6a6a6;
    background-color: #d7d7d7;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


.wrong-answer label{
    color: white;
}

.testPaused {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
}

.testPausedTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* border: 1px solid #a6a6a6; */
}

.testPausedTextContainer h2 {
    margin-bottom: 15px;
    font-weight: 300;
}

.testPausedTextContainer h5 {
    font-weight: 400;
    margin-bottom: 15px;
}

.testPausedTextContainer a {
    cursor: pointer;
}